<%= stylesheet_link_tag "application", "button_style.css" ,:media => "all" %>
<%= stylesheet_link_tag "application", "form_style.css" ,:media => "all" %>
<%= stylesheet_link_tag "application", "table_style.css" ,:media => "all" %>

<div class="container text-center">
  <%= form_with(model: shop_setting, local: true, :html => {:id => "settingForm"},:class => "card_shadow") do |form| %>
    <% if shop_setting.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(shop_setting.errors.count, "error") %> prohibited this shop_setting from being saved:</h2>
        <ul>
          <% shop_setting.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <label style="float:left";>Global Threshold:</label>
      <%= form.number_field :global_threshold,:class => "form-control", data: {toggle: "tooltip"}, title: "Please enter positive integer value." %>
    </div>
    <div class="form-group">
      <label style="float:left";>Alert Frequency:</label>
      <br>
      <%= form.select :alert_frequency, [["6 hrs", 6],["12 hrs", 12],["24 hrs",24]] ,{},{:class => "form-control"} %>
    </div>
    <br>
    <div class="form-actions">
      <%= form.button :Submit , :class => 'btn submit_btn' %> 
    </div> 
  <% end %>
</div>