<%= stylesheet_link_tag "application", "button_style.css" ,:media => "all" %>
<%= stylesheet_link_tag "application", "form_style.css" ,:media => "all" %>
<%= stylesheet_link_tag "application", "table_style.css" ,:media => "all" %>

<div class="container text-center">
  <%= form_with(model: shop_setting, local: true, :html => {:id => "settingForm"},:class => "card_shadow") do |form| %>
    <% if shop_setting.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(shop_setting.errors.count, "error") %> prohibited this shop_setting from being saved:</h2>
        <ul>
          <% shop_setting.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <label>Global Threshold:</label>
      <%= form.number_field :global_threshold,:class => "form-control" %>
    </div>
    <div class="form-group">
        <label>Alert Frequency:</label>
        <%= form.number_field :alert_frequency, :class => "form-control" , :min => "1"%>
    </div>
    <br>
  
    <%= link_to_add_association 'Add Email', form, :emails, class: 'btn add_email_btn', data: { association_insertion_node: '.emails', association_insertion_method: :append } %> 
    <h3><b><center>Edit Emails</center></b></h3>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Delete</th>
              <th>Email</th>
              <th>Is Admin</th>
              <th>Is Active</th>
            </tr>
          </thead>
          <tbody class='emails'>
            <%= form.fields_for :emails do |email| %>
              <%= render 'email_fields', f: email %>
            <% end %>
          </tbody>
        </table>
        <hr>
      </div>
   

    <div class="form-actions">
      <%= form.button :Submit , :class => 'btn submit_btn' %> 
    </div> 
  <% end %>
</div>
