<%= stylesheet_link_tag "application", "table_style.css" ,:media => "all" %>
<%= stylesheet_link_tag "application", "button_style.css" ,:media => "all" %>
<%= stylesheet_link_tag "application", "toast_notification_style.css" ,:media => "all" %>  
<%= stylesheet_link_tag "application", "header_style.css" ,:media => "all" %> 
<div class="container text-center" style="margin-bottom:20">
  <p id="notice" style="color:green;text-align:left;"><%= notice %></p>
  <div class="container header-style">
    <div class="row">
      <div class="col">
        <h4><b>CONFIGURATION</b></h4>
      </div>
    </div>
  </div>
  <br>
  <div id="snackbar-error">
  </div>
  <div id="snackbar-success">
  </div>
  <div class="table-responsive">
    <table id ="configuration-table" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Global Threshold</th>
          <th>Alert Frequency</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        <%if !@shop_setting.nil?%>
          <tr>
            <td id=<%=@shop_setting.id%>><%= @shop_setting.global_threshold %></td>
            <td id=<%=(@shop_setting.shop_id)+5%>><%= @shop_setting.alert_frequency %></td>
            <td><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:20px;" onclick="editclicked(this);"></i></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>

  <br>
  <div class="container header-style">
    <div class="row">
      <div class="col">
        <h4><b>Emails</b></h4>
      </div>
      <div class="col">
        <%= link_to 'Add Email', new_email_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn editbtn'}  %>
      </div>
    </div>
  </div>
  <br>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  <div class="table-responsive">
    <table id="emails-table" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>Is Active</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      
      <tbody>
        <%if !@emails.nil?%>
          <% @emails.each do |email|%>
            <tr>
              <td><%= email.email %></td>
              <input type="hidden" id=<%=@shop_setting.id%>>
              <td><%= email.is_active %></td>
              <td><i class="fa fa-pencil-square-o" aria-hidden="true" data-email_id=<%=email.id%> style="font-size:20px;" onclick="editclick(this);"></i></td>
              <td><i class="fa fa-times" aria-hidden="true" data-email_id_delete=<%=email.id%> style="font-size:20px;margin-top: 10px;color:red;" onclick="deleteclick(this);"></i></td> 
              <input type="hidden" id=<%=@shop_setting.id%>>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>