<%= form_with(model: variant, local: true) do |form| %>
  <% if variant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(variant.errors.count, "error") %> prohibited this shop_setting from being saved:</h2>

      <ul>
      <% variant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :threshold %>
    <%= form.number_field :threshold %>
  </div>


 <div class="form-actions">
    <%= form.button :submit %>
  </div>
  
<%end%>