<div class="kloc_form_shop container">
    <p id="notice" style="color:DarkOrange;text-align:left;"><%= notice %></p>
    <div class="form-header">
        <h5>Import Products/Variants</h5>
    </div>
    <%= form_with url: "#{ENV["URL"]}/variants/update_csv_threshold", multipart: true, method: :post do |form| %>
        <div class="form-group">
            <%= form.label :upload_CSV, :name => 'fileField'%>
            <%= form.file_field :file, :class => 'form-control-file', accept: '.csv' %>
        </div>
        <div class="actions">
            <%= form.submit "Submit", class: 'btn submit-btn'%>
            <%= link_to 'Back', variants_path , :class => "btn back-btn" %>
        </div>
    <% end %>
</div>
