<%= stylesheet_link_tag "application", "button_style.css" ,:media => "all" %>
<%= stylesheet_link_tag "application", "table_style.css" ,:media => "all" %>  
<html>
  <body>
    <div class="container text-center" style="margin-bottom:20">
      <p id="notice"><%= notice %></p>
      <div class="container text-center">
        <h3><b>Products</b></h3>
      </div>
      <div id="snackbar-error">
        Please enter a valid integer value to update!
      </div>
      <div id="snackbar-success">
        Threshold successfully updated!
      </div>
      <div>
        <%= link_to "Export", variants_export_csv_path, :class => "btn import-btn"%>
        <%= link_to "Import CSV", variants_import_csv_path, :class => "btn edit_btn" %>
      </div>
      <div class="table-responsive">
        <table id="variants-datatable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Product Title</th>
              <th>SKU</th>
              <th>Quantity</th>
              <th>Threshold</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <%if @variants.present?%>
              <%@variants.each do |variant|%>
                <tr>
                  <td><%= variant.product.title%></td>
                  <td><%= variant.sku %></td>
                  <td><%= variant.quantity %></td>
                  <td id=<%=variant.id%>><%= Variant.threshold(variant) %></td>
                  <td> <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:20px;" onclick="editIconclicked(this);"></i></td>
                </tr>
              <% end %>
            <%end%>
          </tbody>
        </table>
      </div>
      <br>      
    </div>
  </body>
</html>
