<%= stylesheet_link_tag "application", "button_style.css" ,:media => "all" %>
<%= stylesheet_link_tag "application", "table_style.css" ,:media => "all" %> 
<%= stylesheet_link_tag "application", "toast_notification_style.css" ,:media => "all" %> 
<html>
  <body>
    <div class="container text-center" style="margin-bottom:20">
      <p id="notice"><%= notice %></p>
      <div class="container text-center">
        <h3><b>Products</b></h3>
      </div>
      <div id="snackbar-error">
      </div>
      <div id="snackbar-success">
      </div>
      <div>
        <%= link_to "Export CSV", variants_export_csv_path, remote: true, :class => "btn export-csv-btn"%>
        <%= link_to 'Import CSV', variants_import_csv_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn import-csv-btn'} %>
      </div>
      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
      <div class="table-responsive">
        <table id="variants-datatable" data-source="<%= variants_path(format: :json) %>" class="table table-bordered table-striped" >
          <thead>
            <tr>
              <th>Product Title</th> 
              <th>SKU</th>
              <th>Quantity</th>
              <th>Threshold</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <br>      
    </div>
  </body>
</html>