<%= stylesheet_link_tag "application", "button_style.css" ,:media => "all" %>
<%= stylesheet_link_tag "application", "table_style.css" ,:media => "all" %> 
<%= stylesheet_link_tag "application", "toast_notification_style.css" ,:media => "all" %> 
<%= stylesheet_link_tag "application", "header_style.css" ,:media => "all" %> 
<html>
  <body>
    <div class="container text-center" style="margin-bottom:20">
      <p id="notice"><%= notice %></p>
      <div id="snackbar-error">
      </div>
      <div id="snackbar-success">
      </div>
      <div class="container header-style">
        <div class="row">
          <div class="col">
            <h4><b>PRODUCTS</b></h4>
          </div>
          <div class="col">
            <%= link_to "Download CSV", variants_export_csv_path, remote: true, class: "btn export-csv-btn" %>
            <%= link_to "Upload CSV", variants_import_csv_path, remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: "btn import-csv-btn" %>
          </div>
        </div>
      </div>
      <br>
      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
      <div class="table-responsive">
        <table id="variants-datatable" data-source="<%= variants_path(format: :json) %>" class="table table-bordered table-striped" >
          <thead>
            <tr>
              <th>Product Title</th> 
              <th>SKU</th>
              <th>Quantity</th>
              <th>Threshold</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <br>      
    </div>
  </body>
</html>