<%= stylesheet_link_tag "application", "button_style.css" ,:media => "all" %>
<%= stylesheet_link_tag "application", "table_style.css" ,:media => "all" %>

<div class="container text-center" style="margin-bottom:20">
  <%if @variants.nil?%>
    <p id="notice"><%= notice %></p>
  <%else%>
    <div class="container text-center">
      <h3><b><center>Products</center></b></h3>
    </div>

    <%= link_to "Export", variants_export_csv_path, :class => "btn export-csv-btn" %>
    <div>
      <%= link_to "Import CSV", variants_import_csv_path, :class => "btn edit_btn" %>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Product Title</th>
            <th>SKU</th>
            <th>Quantity</th>
            <th>Threshold</th>
          </tr>
        </thead>

        <tbody>
          <% @variants.each do |variant| %>
            <tr>
              <td><%= variant.product.title%></td>
              <td><%= variant.sku %></td>
              <td><%= variant.quantity %></td>
              <td class="variant-threshold" onclick="changetd(this);" id=<%=variant.id%>><%= variant.threshold %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
    <%= will_paginate @variant %>
  <%end%>
</div>
